# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database files
*.db
*.sqlite3
*.db-wal
*.db-shm
data/*.db
data/*.db-wal
data/*.db-shm

# Environments & IDEs
.env
.venv/
env/
venv/
.vscode/
.idea/

# Testing & logs
.pytest_cache/
*.log
